# Requirements for developments
# python>=3.6.9
numpy>=1.18.5
pandas>=1.1.4
tqdm>=4.52.0
scipy>=1.5.4
matplotlib>=3.3.3
scikit-image>=0.17.2
scikit-learn>=0.23.2
termcolor>=1.1.0
torch>=1.5.0
torchvision>=0.8.1
SimpleITK>=1.2.0
wget
tensorboard
