# All requirements
# python>=3.7
numpy>=1.18.5
pandas>=1.2
tqdm>=4.52.0
scipy>=1.5.4
matplotlib>=3.3.3
scikit-learn>=1.4
termcolor>=1.1.0
pycocotools>=2.0.1
pytorch_lightning>=1.6
torch
torchvision
tensorboard
wget
ipython
h5py
hdf5plugin
deepdiff
statsmodels
xmlrunner
paramiko
tables
psutil
ipykernel
hydra-core
omegaconf
nibabel
vit-pytorch
lifelines
clearml
x-transformers
jsonargparse
click
